@import '@assets/css/base/variables';
@import '@assets/css/base/breakpoints';
@import '@assets/css/base/mixins';

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;

  &:not(:last-child) {
    margin-bottom: pxtorem(10);
  }
}

.label {
  font-weight: 700;
  text-transform: uppercase;

  @include breakpoint(0, $bs-sm) {
    font-size: pxtorem(12);
  }

  @include breakpoint($bs-sm, $bs-lg) {
    font-size: pxtorem(14);
  }

  @include breakpoint($bs-lg, 0) {
    font-size: pxtorem(16);
  }
}

.value {
  @include breakpoint(0, $bs-sm) {
    font-size: pxtorem(12);
  }

  @include breakpoint($bs-sm, $bs-lg) {
    font-size: pxtorem(14);
  }

  @include breakpoint($bs-lg, 0) {
    font-size: pxtorem(18);
  }
}
