@import '@assets/css/base/variables';
@import '@assets/css/base/breakpoints';
@import '@assets/css/base/mixins';

.button {
  background-color: $black;
  color: $white;
  padding-left: pxtorem(30);
  padding-right: pxtorem(30);
  padding-top: pxtorem(10);
  padding-bottom: pxtorem(10);
  font-size: pxtorem(18);
  border: 0;
  @include border-radius(pxtorem(5));
  transition: 300ms all ease;

  &:hover {
    background-color: $teal;
  }
}
