@import '@assets/css/base/variables';
@import '@assets/css/base/breakpoints';
@import '@assets/css/base/mixins';

.button {
  color: $white;
  padding-left: pxtorem(30);
  padding-right: pxtorem(30);
  padding-top: pxtorem(10);
  padding-bottom: pxtorem(10);
  font-size: pxtorem(18);
  border: 0;
  @include border-radius(pxtorem(5));

  background: $black;
  background-image: linear-gradient(
    to left,
    transparent,
    transparent 50%,
    $teal 50%,
    $teal
  );
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all 0.25s ease-in;

  &:hover {
    background-position: 0 0;
  }
}
